body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  width: auto;
  padding: 40px 40px 40px 10px;
}

.search-form {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

input {
  padding: 8px;
  border-radius: 5px;
   font-size: 18px;
  width: 400px;
  margin: 0 10px 0 20px;
  background-color: rgb(240, 255, 180);
  box-shadow: 5px 5px 46px 4px rgba(174,175,67,0.41);
}

button {
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(240, 255, 180);
  box-shadow: 5px 5px 46px 4px rgba(174,175,67,0.41);
}
.gallery {
  display: flex;
  gap: 4px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.gallery img {
   width: 300px;
  height: 220px;
  padding: 6px;
  background-color: rgb(160, 191, 206);
  border-radius: 10px;
  box-shadow: 10px 12px 69px 1px rgba(67,175,142,0.84);
-webkit-box-shadow: 10px 12px 69px 1px rgba(67,175,142,0.84);
-moz-box-shadow: 10px 12px 69px 1px rgba(67,175,142,0.84);}

